/* TABLE OF CONTENTS
*  1. FONTS
*  2. VARIABLES
*  3. MAIN STYLES
*  4. MAIN HEADER
*  5. BENEFITS
*  6. OFFER
*  7. PORTFOLIO 
*  8. ABOUT
*  9. FOOTER
*  10. MODALS
*  11. RWD
*/

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,700');
/* FONTS END */

/* VARIABLES */

:root {
  --font-size-1: 16px;
  --font-size-2: 18px;
  --font-size-3: 30px;
  --font-size-4: 36px;
  --font-size-5: 48px;
  --white: #fff;
  --black: #000;
  --text-gray: #949494;
}

/* VARIABLES END */

/* MAIN */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Tajawal', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none !important;
  cursor: pointer;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 205px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background-color: var(--white);
  background-image: -webkit-linear-gradient(16deg, #49007c 0%, #e70088 100%);
  background-image: -o-linear-gradient(16deg, #49007c 0%, #e70088 100%);
  background-image: linear-gradient(74deg, #49007c 0%, #e70088 100%);
  cursor: pointer;
}

.main__button,
a .main__button,
.facebook__button,
.linkedin__button {
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 36px;
  color: var(--white);
  cursor: pointer;
}

a.main__button:hover,
a .main__button:hover {
  color: lightgray;
  text-decoration: none;
}

.facebook__button {
  display: block;
  margin: 0 auto;
  width: 205px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background-color: #3B5998;
  cursor: pointer;
}

.linkedin__button {
  display: block;
  margin: 0 auto;
  width: 205px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background-color: #0077b5;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay--open {
  display: block;
}

/* MAIN END */

/* MAIN HEADER */

.main__header {
  background: url("../assets/img/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav.navbar {
  padding-top: 25px;
}

.navbar-brand,
.footer__logo {
  color: var(--black);
  font-size: var(--font-size-4);
  font-weight: 700;
  line-height: 24px;
}

.navbar-brand span,
.footer__logo span {
  font-weight: 300;
}

.nav-link {
  color: var(--black);
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: 24px;
  margin: 0 5px 0 5px;
}

.nav-item {
  text-align: center;
  max-width: 91px;
}

.nav-item.active {
  border-radius: 18px;
  border: 1px solid var(--black);
}

.nav-item.active:hover {
  border: 1px solid rgba(258, 258, 258, 0.6);
}

.nav-link:hover {
  color: var(--white);
}

.navbar-light .navbar-nav a.nav-link {
  color: var(--black);
  white-space: nowrap;
}

.intro {
  margin: 0 auto;
  text-align: center;
}

.intro__container {
  margin-top: 220px;
  margin-bottom: 420px;
}

.intro__header {
  color: var(--black);
  font-size: var(--font-size-5);
  font-weight: 700;
  line-height: 36px;
}

.intro__text {
  color: var(--text-gray);
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 65px;
}

.mouse__container {
  color: var(--white);
  margin-bottom: 100px;
}

.mouse__icon {
  margin-bottom: 15px;
}

/* MAIN HEADER END*/

/* BENEFITS */

.benefits {
  background: url('../assets/img/benefits_bg.jpg');
  background-size: cover;
}

.benefit {
  color: var(--white);
  padding: 150px 10px;
}

.benefit__header {
  font-size: var(--font-size-5);
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 20px;
}

.benefit__header span {
  font-weight: 700;
}

.benefit__text {
  font-size: var(--font-size-2);
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
}

/* BENEFITS END */

/* OFFER  */

.offer {
  padding: 100px 0;
}

.offer__header {
  text-align: center;
}

.offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px 0;
}

.offer__context__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 45px;
}

.offer__item__header {
  font-size: var(--font-size-3);
  font-weight: 700;
  line-height: 36px;
}

.offer__item__text {
  color: var(--text-gray);
  font-size: var(--font-size-2);
  font-weight: 300;
  line-height: 30px;
}

.offer__img__wrapper {
  min-width: 140px;
}

.offer__img {
  margin: 0 auto;
}

/* OFFER END */

/* PORTFOLIO */

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project__link {
  display: block;
  width: 100%;
  position: relative;
}

.project__link::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "Watch more";
  text-align: center;
  font-weight: 700;
  padding-top: calc(100% - 65%);
  color: var(--black);
  display: block;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(258, 258, 258, 0.6);
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.project__link:hover::after {
  opacity: 1;
}

.project {
  position: relative;
}

.project__button {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
  z-index: 999;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.project__button .main__button {
  color: white;
}

.project__button .main__button:hover {
  color: lightgray;
  opacity: 1;
}

/* overwrite slick.js styles  */

.slick__prev,
.slick__next {
  position: absolute;
  z-index: 9999;
}

.slick__prev {
  height: 58px;
  width: 58px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.slick__next {
  height: 58px;
  width: 58px;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.slick-slide a {
  outline: none;
}

/* PORTFOLIO END */

/* ABOUT */

.about {
  background: url("../assets/img/about_bg.png");
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: var(--white);
  padding: 115px 0;
}

.about__header {
  color: var(--white);
  font-size: var(--font-size-5);
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 35px;
}

.about__text {
  margin: 0 auto;
  text-align: center;
  max-width: 699px;
  color: var(--text-gray);
  font-size: var(--font-size-2);
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 120px;
}

.person__image {
  margin-bottom: 30px;
}

.person__name {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.person__text {
  color: var(--text-gray);
  font-size: var(--font-size-2);
  font-weight: 300;
  line-height: 30px;
}

.about .main__button {
  margin-top: 110px;
}

.about .main__button:hover {
  color: lightgray;
}

/* ABOUT END */

/* FOOTER  */

.footer {
  padding: 20px 0;
}

.footer__info {
  float: right;
  font-size: var(--font-size-2);
}

/* FOOTER END */

/* MODALS */

.login__modal,
.register__modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 15px;
  padding: 10px 30px;
  border: 2px solid #49007c;
  text-align: center;
  min-width: 300px;
  z-index: 999;
}

.modal--open {
  display: block;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.login__form>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.login__form span {
  margin-bottom: 20px;
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 5px;
  background: none;
  border: 0;
}

.login__heading,
.register__heading {
  margin: 20px 0;
}

.login__input,
.register__input {
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 1px solid #49007c;
  margin-bottom: 20px;
  padding: 10px;
}

.login__form label {
  text-align: left;
}

.login__form button {
  margin-bottom: 10px;
}

.register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  margin-bottom: 0;
  z-index: 9;
}

label[for="register__picture"] {
  position: relative;
  padding: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid #49007c;
  display: inline-block;
  color: var(--black);
  cursor: pointer;
}

/* align placeholders */

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

/* MODALS END */

/* RWD */

@media (max-width: 992px) {
  .intro__container {
    margin-top: 110px;
    margin-bottom: 110px;
  }

  .intro__header {
    line-height: 54px;
  }

  .mouse__container {
    margin-bottom: 50px;
  }

  .offer__item {
    max-width: 550px;
  }

  .about__text {
    margin-bottom: 60px;
  }

  .about .main__button {
    margin-top: 55px;
  }

  .person__text {
    margin-bottom: 20px;
  }

  .footer {
    text-align: center;
  }

  .footer__info {
    float: none;
  }

  @media (max-width: 767px) {
    .benefit {
      padding: 75px 5px;
    }
  }

  @media (max-width: 425px) {
    .offer__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .offer__img {
      margin-bottom: 20px;
    }

    .footer__logo {
      line-height: 42px;
    }

    .offer__context__wrapper {
      margin-left: 0;
      padding: 0 10px;
      text-align: center;
    }

    .login__modal {
      min-width: 0;
    }
  }
}

/* RWD END */

