/* TABLE OF CONTENTS
*  1. FONTS
*  2. VARIABLES
*  3. MAIN STYLES
*  4. MAIN NAVIGATION
*  5. INTRO
*  6. EMPTY SECTIONS
*  7. TESTIMONIALS
*  8. FOOTER
*/

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,700');
/* FONTS END */

/* VARIABLES */

:root {
  --font-size-1: 16px;
  --font-size-2: 18px;
  --font-size-3: 30px;
  --font-size-4: 36px;
  --font-size-5: 48px;
  --white: #fff;
  --black: #000;
  --text-gray: #949494;
}

/* VARIABLES END */

/* MAIN */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Tajawal', sans-serif;
}

.main__button {
  width: 205px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: var(--white);
  background-image: linear-gradient(74deg, #49007c 0%, #e70088 100%);
  cursor: pointer;
}

.main__button a {
  color: var(--white);
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 36px;
}

.main__button a:hover {
  color: lightgray;
  text-decoration: none;
}

/* MAIN END */

/* MAIN HEADER */

.main__header {
  background: url("../assets/img/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav.navbar {
  padding-top: 25px;
}

.navbar-brand {
  color: var(--black);
  font-size: var(--font-size-4);
  font-weight: 700;
  line-height: 24px;
}

.navbar-brand span {
  font-weight: 300;
}

.nav-link {
  color: var(--black);
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: 24px;
  margin: 0 5px 0 5px;
}

.nav-item.active {
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-item.active:hover {
  border: 1px solid rgba(258, 258, 258, 0.6);
}

.nav-link:hover {
  color: var(--white);
}

.intro {
  margin: 0 auto;
  text-align: center;
}

.intro__container {
  margin-top: 220px;
  margin-bottom: 420px;
}

.intro__header {
  color: var(--black);
  font-size: var(--font-size-5);
  font-weight: 700;
  line-height: 36px;
}

.intro__text {
  color: var(--text-gray);
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 65px;
}

.mouse__container {
  color: var(--white);
  margin-bottom: 100px;
}

.mouse__icon {
  margin-bottom: 15px;
}

/* MAIN HEADER END*/

/* BENEFITS */

.benefits {
  background: url('../assets/img/benefits_bg.jpg');
  background-size: cover;
}

.benefit {
  color: var(--white);
  padding: 150px 10px;
}

.benefit__header {
  font-size: var(--font-size-5);
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 20px;
}

.benefit__header span {
  font-weight: 700;
}

.benefit__text {
  font-size: var(--font-size-2);
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
}

/* BENEFITS END */

/* OFFER  */
.offer {
  padding: 100px 0;
}

.offer__header {
  text-align: center;
}

.main__button {
  display: block;
  margin: 0 auto;
}

.offer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.offer__context__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 45px;
}

.offer__item__header {
  font-size: var(--font-size-3);
  font-weight: 700;
  line-height: 36px;
}

.offer__item__text {
  color: var(--text-gray);
  font-size: var(--font-size-2);
  font-weight: 300;
  line-height: 30px;
}
/* OFFER END */